# macOS
.DS_Store

# Xcode user data
xcuserdata/
*.xcuserdatad/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Xcode build artifacts
build/
DerivedData/
*.xcarchive
*.xcresult
*.moved-aside
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Local environment
*.env

# Project-specific ignores
/MIGRATION_IOS.md
